In [34]:
from datasets import load_dataset
# pip3 install datasets\[audio\]

In [35]:
import pandas as pd

In [36]:
#display(pd.DataFrame(load_dataset("common_voice", "tr").train).head())

In [37]:
import os
os.path.abspath(os.getcwd())

'/Users/klara/Developer/Uni/SoSe24/DeepLLab/sound-separation/data_preprocessing'

In [38]:
data_path = '/'.join(os.path.abspath(os.getcwd()).split('/')[:-1]) + '/data/7078499/'
print(data_path)

/Users/klara/Developer/Uni/SoSe24/DeepLLab/sound-separation/data/7078499/

In [39]:
annotations = pd.read_csv(data_path + "annotations.csv")
annotations.head()

,Filename,Start Time (s),End Time (s),Low Freq (Hz),High Freq (Hz),Species eBird Code
0,UHH_001_S01_20161121_150000.flac,6.8,8.2,2678,6053,hawama
1,UHH_001_S01_20161121_150000.flac,13.7,14.0,1362,8749,hawama
2,UHH_001_S01_20161121_150000.flac,20.7,21.1,1417,8040,hawama
3,UHH_001_S01_20161121_150000.flac,27.3,27.7,3091,5873,hawama
4,UHH_001_S01_20161121_150000.flac,28.6,28.8,3194,6594,hawama

In [40]:
recording_locations = pd.read_csv(data_path + "recording_location.csv")
recording_locations.head()

,Site,Location,GPS Coordinates,Habitat Type,Recorder
0,S01,Western slope of Maunakea in the Ka'ohe Game M...,"05 Q 226625, UTM 2191644",Dry mamane/naio forest,Wildlife Acoustics SM2
1,S02,Hakalau Forest National Wildlife Refuge,"05 Q 256809, UTM 2190241",Native montane rain forest,Wildlife Acoustics SM4 and SMMini
2,S03,Southern slope of Mauna Loa,"05 Q 228938, UTM 2154479",Subalpine/alpine,Wildlife Acoustics SM4
3,S04,Eastern slope of Maunakea,"05 Q 241471, UTM 2193519",Subalpine/alpine,Wildlife Acoustics SM4

In [41]:
species = pd.read_csv(data_path + "species.csv")
species.head()

  Species eBird Code          Scientific Name               Common Name
0             akepa1         Loxops coccineus              Hawaii Akepa
1             apapan      Himatione sanguinea                   Apapane
2             barpet        Hydrobates castro  Band-rumped Storm-Petrel
3             blkfra  Francolinus francolinus           Black Francolin
4             calqua   Callipepla californica          California Quail

In [42]:
import zipfile

zipped_data_path = data_path + "soundscape_data.zip"

z = zipfile.ZipFile(zipped_data_path, "r")

i = 0
for filename in z.namelist():
    bytes = z.read(filename)
    print ('File:', filename, 'has',len(bytes),'bytes')
    i += 1
    if i > 5:
        break

File: UHH_001_S01_20161121_150000.flac has 9668716 bytes
File: UHH_002_S01_20161121_151000.flac has 9605215 bytes
File: UHH_003_S01_20161121_152000.flac has 9565210 bytes
File: UHH_004_S01_20161121_153000.flac has 9623896 bytes
File: UHH_005_S01_20161121_154000.flac has 9598109 bytes
File: UHH_006_S01_20161121_155000.flac has 9547825 bytes

In [43]:
# Import necessary libraries
import zipfile
import io
from pydub import AudioSegment
from pydub.playback import play

def play_first_ten_flac(zip_file_path):
    try:
        # Open the zip file
        with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
            # Get the list of all .flac files in the zip
            flac_files = [file for file in zip_ref.namelist() if file.endswith('.flac')]
            
            if not flac_files:
                print("No .flac files found in the zip archive.")
                return
            
            # Play the first 10 .flac files
            for flac_file in flac_files[:10]:
                print(f"Playing {flac_file}")
                with zip_ref.open(flac_file) as flac_data:
                    # Read the .flac file into an audio segment
                    # FIXME: playing does not work
                    audio = AudioSegment.from_file(io.BytesIO(flac_data.read()), format="flac")
                    # Play the audio
                    play(audio)

    except zipfile.BadZipFile:
        print("Error: The provided file is not a zip file or it is corrupted.")
    except FileNotFoundError:
        print(f"Error: The file {zip_file_path} was not found.")
    # except Exception as e:
    #     print(f"An unexpected error occurred: {e}")

# Path to the zip file
zip_file_path = zipped_data_path

# Call the function to play the first 10 .flac files
#play_first_ten_flac(zip_file_path)

In [44]:
parquet_data_path = '/'.join(os.path.abspath(os.getcwd()).split('/')[:-1]) + '/data/HSN_metadata_train.parquet'

# Load the metadata from the parquet file
metadata = pd.read_parquet(parquet_data_path)
display(metadata.head())

,filepath,start_time,end_time,low_freq,high_freq,lat,long,length,call_type,sex,...,ebird_code,ebird_code_multilabel,ebird_code_secondary,quality,microphone,source,detected_events,event_cluster,recordist,peaks
id,,,,,,,,,,,,,,,,,,,,,
805337,XC805337.ogg,None,None,None,None,50.0927,18.9176,29,uncertain,"female, male",...,mallar3,[mallar3],[yellow2],A,focal,xenocanto,"[[2.112, 6.416], [9.68, 11.328], [10.592, 11.7...","[-1, -1, -1, 0, -1, 1, -1, 0, 0, 1]",Ireneusz Oleksik,"[12.678638560998488, 18.969645289822907, 21.79..."
803488,XC803488.ogg,None,None,None,None,41.2243,1.7254,12,nocturnal flight call,uncertain,...,mallar3,[mallar3],[],A,focal,xenocanto,[],[],Sergi Carreras,"[4.490167723241321, 9.626118346582038]"
800462,XC800462.ogg,None,None,None,None,63.4871,19.6912,36,"call, wing beats",None,...,mallar3,[mallar3],[],A,focal,xenocanto,"[[0.896, 7.584], [8.416, 9.088], [11.936, 13.4...","[0, 0, -1, -1, 0, 0, 0, -1, 0, 0]",Lars Edenius,"[5.868098741047005, 20.698642605003382, 22.307..."
799596,XC799596.ogg,None,None,None,None,63.4616,19.6267,52,"call, courtship calls, water splashing","female, male",...,mallar3,[mallar3],[],A,focal,xenocanto,"[[0.928, 2.704], [3.872, 7.248], [8.256, 9.84]...","[0, 0, 1, 1, -1, 0, 2, 2, -1, 1, -1, -1, 1]",Lars Edenius,"[5.861316012157072, 10.617912612355621, 36.441..."
797069,XC797069.ogg,None,None,None,None,47.0803,-0.9249,44,call,None,...,mallar3,[mallar3],[],A,focal,xenocanto,"[[6.688, 8.48], [8.944, 10.08]]","[-1, -1]",Guillaume Bigayon,"[6.868723530773357, 7.610692797199281, 8.30706..."